<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="request-log" fileName="${gdc:item=appbasepath}\logs\${shortdate}\requests.txt" />
    <target xsi:type="File" name="sql-log" fileName="${gdc:item=appbasepath}\logs\${shortdate}\sqls.txt" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- 
    
    Trace,
    Debug,
    Information,
    Warning,
    Error,
    Critical
    
    -->
    
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.EntityFrameworkCore.Database.Command" maxlevel="Info" final="true" writeTo="sql-log" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Trace" writeTo="request-log" />
    
  </rules>
</nlog>


